<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div style="background-image: url('hotels-4.jpg')">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/users/reservation">New Reservation<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Room Types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add HouseKeepers</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="#">Manage Food Orders</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="#">Billing/Payment method</a>
      </li>
    </ul>
    <span class="navbar-text">
     
    </span>
  </div>
</nav>
<h2 class="page-header">Welcome {{username}} to Dashboard</h2>
<hr>
<div class="container">
	
	
	
		<div class="row well" id="content">
			<form action="" method="POST">
	        <div class="col-md-2">
				
				<div class="form-group" id="date">
					<label>Check-In</label>
					<input type="month" name="checkin" class="form-control" min="2013-01" max="2020-01" id="checkin">
                </div></div> 
                <div class="col-md-2">
				<div class="form-group" id="date2">
					<label>Check-Out</label>
					<input type="month" name="checkout" class="form-control" min="2013-01" max="2020-01"required="" id="checkout">
                    </div> </div> 
            <div id="bookBtn">
						
						<button class="btn btn-warning btn-lg btn-block col-md-2" id="check_me" type="button">Check Availability</button>
					</div>
            </form> 
    </div></div>