<br>
<div class="row well" id="content">
			<form action="" method="POST">
	        <div class="col-md-2">
				
				<div class="form-group" id="date">
					<label>Arrival Date</label>
					<input type="month" name="checkin" class="form-control" min="2013-01" max="2020-01" id="arrival">
                </div></div> 
                <div class="col-md-2">
				<div class="form-group" id="date2">
					<label>Departure Date</label>
					<input type="month" name="checkout" class="form-control" min="2013-01" max="2020-01"required="" id="departure">
                    </div> </div> 
                
            <div id="bookBtn">
				<button class="btn btn-warning btn-lg btn-block" id="check_me" type="button">Create new reservation</button>
					</div>
            </form> 
    </div>